# Python
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# VeighNa
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# Web Trader docker
examples/web_trader/.env
examples/web_trader/data/
examples/web_trader/*.tgz
examples/web_trader/scripts/*_cache.json
examples/web_trader/scripts/*_result.json
examples/web_trader/scripts/__pycache__/
*.bak

# Misc
.DS_Store
*.mo

# Alpha
lab/
/.mypy_cache
